<h1>Cruar Gato</h1>

<form action="/cat" method="post">
    <input type="text" name="name" id="name" placeholder="name">
    <input type="text" name="color" id="color" placeholder="cat color">
    <input type="submit" value="Enviar">
</form>